*{
    margin: 0;
    padding: 0;
}
div.wrapper{
    width: 100%;
    }
@font-face{
    font-family: iransans;
    src: url(../font/FontsFree-Net-ir_sans.eot);
    src: url(../font/FontsFree-Net-ir_sans.ttf);
    src: url(../font/FontsFree-Net-ir_sans.woff);
    src: url(../font/FontsFree-Net-ir_sans.woff2);
}